.filter-container {
    display: flex;
    text-align: center;
    margin: 15px auto;
    justify-content: center;
}

.filter-container>button {
    border: 1px solid var(--filter-color);
    background-color: transparent;
    padding: 6px 12px;
    font-family: sans-serif;
    font-size: small;
    color: var(--filter-color);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.filter-container>button:hover {
    background-color: var(--filter-hover);
}

.filter-container>button:active {
    background-color: var(--filter-action);
    color: var(--action-btn-color);
    border-color: var(--filter-action);
}

.active-btn {
    border-left: none !important;
    border-right: none !important;
}

.all-btn {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.completed-btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}