.App {
  width: 350px;
  background-color: var(--bg-card);
  border-radius: 8px;
  box-shadow:var(--shadow-main);
  margin: 60px auto;
  padding: 30px 20px; 
  padding-top: 0;
  border: 1px solid var(--item-hover);
}

.checklist-title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--text-main);
  font-size: 1.5em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  padding-top: 30px;
  /* background-color:  blue; */
}